.page {
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 40px;
    grid-auto-flow: row;
    align-items: end;
    grid-template-areas:
        "User-Widget Notes-Widget News-Widget"
        "User-Widget Notes-Widget News-Widget"
        "Weather-Widget Notes-Widget News-Widget"
        "Timer-Widget Timer-Widget News-Widget"
        "Timer-Widget Timer-Widget News-Widget";
}

.UserWidget {
    height: inherit;
    width: inherit;
    background-color: #5746EA;
    ;
    grid-area: User-Widget;
}

.WeatherWidget {
    height: inherit;
    width: inherit;
    background-color: #FF4ADE;
    grid-area: Weather-Widget;
}

.TimerWidget {
    height: inherit;
    width: inherit;
    background-color: #1E2343;
    grid-area: Timer-Widget;
}

.NotesWidget {
    height: inherit;
    width: inherit;
    background-color: #F1C75B;
    grid-area: Notes-Widget;
}

.NewsWidget {
    height: inherit;
    width: inherit;
    background-color: lightcoral;
    grid-area: News-Widget;
}