* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  padding: 1.5rem 1.5rem 1.5rem 2.3rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  gap: 20px 35px;
  grid-auto-flow: row;
  grid-template-areas:
    "UserWidget NotesWidget NewsWidget"
    "WeatherWidget NotesWidget NewsWidget"
    "TimerWidget TimerWidget NewsWidget";
}

.UserWidget {
  background-color: #5746ea;
  padding: 128px;
}

.WeatherWidget {
  grid-area: WeatherWidget;
  background-color: #ff4ade;
}

.NotesWidget {
  grid-area: NotesWidget;
  background-color: #f1c75b;
}

.TimerWidget {
  grid-area: TimerWidget;
  background-color: #1e2343;
}

.NewsWidget {
  grid-area: NewsWidget;
  background-color: lightcoral;
}
