@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Single+Day&display=swap');

.page {
    font-family: "DM Sans", sans-serif;
    display: flex;
    color: white;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100vh;
}


.bgImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.leftHeader {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 2%;
    left: 5%;
}


h2 {
    font-size: 3.5rem;
    font-family: "Single Day", cursive;
    color: #72DB73;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input {
    all: unset;
    padding: 10px;
    margin: 0% 25%;
    width: 50%;
    border-radius: 3px;
    color: #7C7C7C;
    background-color: #292929;
}

.label {
    font-size: small;
    margin: 0% 25%;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}



.checkbox {
    margin-left: 13.5%;
}

.submit {
    all: unset;
    padding: 10px;
    margin: 0% 25%;
    width: 50%;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #72DB73;
    text-align: center;
}

label {
    color: #7C7C7C;
}

p {
    margin: 0px 25%;
}

span {
    color: #72DB73;
    cursor: pointer;
}