@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Single+Day&display=swap');


body {
    font-family: "DM Sans", sans-serif;
    color: white;
}

.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100vh;
}


.bgImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3rem;
    color: #72DB73;
    font-family: "Single Day", cursive;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    all: unset;
    width: 100%;
    color: #7C7C7C;
    background-color: #292929;
    padding: 5px 10px;
}

button {
    all: unset;
    width: 100%;
    background-color: #72DB73;
    border-radius: 25px;
    cursor: pointer;
}

label {
    color: #7C7C7C;
}

p {
    margin: 0px 25%;
}

span {
    color: #72DB73;
    cursor: pointer;
}