.notesWidget {
    padding: 15px;
}

.header {
    font-family: "DM Sans", sans-serif;
}

.input {
    display: flex;
    font-size: 1.5rem;
    background: transparent;
    font-family: "DM Sans", sans-serif;
    border: none;
    height: 300px;
    width: 100%;
    resize: none;
    /* overflow-y: scroll; */
}

.input:focus {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFE6A6;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}