.timerWidget {
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    font-family: "DM Sans", sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}



.row {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.count {
    font-size: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 15px;
    font-weight: 300;
    color: #949494;
}

.action {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    all: unset;
    width: 75%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: #FF6A6A;
}