.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  font-family: "DM Sans", sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100%;
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 5%;
}

.leftHeader {
  font-size: 2.5rem;
  font-family: "Single Day", cursive;
  color: #72db73;
}

.leftSubHeader {
  color: white;
  font-size: 2.5rem;
  font-family: "DM Sans", sans-serif;
}

.right {
  display: flex;
  height: 100%;
  width: 60vw;
  flex-direction: column;
  align-items: center;
}

.genreCard {
  margin: 10px 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-radius: 12px;
}

.genreGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  margin-top: 8%;
  height: 70%;
  width: 70%;
  margin-left: 65px;
  /*added recently*/
}

.selected {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.selectedGenre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 4px 16px;
  margin: 8px 8px;
  color: white;
  background-color: #72db73;
  flex: 0 0 calc(50% - 133px)
}

.selectedGenre button {
  all: unset;
  font-size: large;
  margin-left: 10px;
  cursor: pointer;
  color: darkgreen;
}

.warning {
  display: flex;
  margin-top: 10px;
  font-size: 0.8rem;
  align-items: center;
  color: #ff0000;
}

.genreCard .title {
  font-size: 1.2rem;
  padding: 8px 0px;
  width: 100%;
  align-self: flex-start;
  margin-left: 10%;
}

.genreCard img {
  object-fit: cover;
  height: 63%;
}

.button {
  position: fixed;
  bottom: 39px;
  align-self: flex-end;
  margin-right: 8vw;
  font-family: "DM Sans", sans-serif;
  border-radius: 20px;
  background-color: #148a08;
  color: white;
  border: none;
  padding: 10px 55px;
}