.page {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 2.5% 4% 10%;
    width: 65%;
    height: 100%;
}

.userWidget {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 1.5%;
    padding: 3%;
    height: 65%;
    color: white;
    background-color: #5746EA;
    border-radius: 30px;
}

.userWidget h3 {
    margin: 0px;
    font-size: 2rem;
    font-weight: 300;
}

.userWidget h1 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 3.5rem;
}

.userWidget img {}

.genreGrid {
    display: flex;
    flex-wrap: wrap;
}

.pill {
    width: 20%;
    flex: 0 0 calc(50% - 60px);
    border-radius: 20px;
    background-color: #9F94FF;
    padding: 10px 20px;
    margin: 10px;
}

.weatherWidget {
    box-sizing: border-box;
    /* margin-top: 1.5%; */
    height: 100%;
    width: 100%;
    background-color: #101744;
    color: white;
    border-radius: 30px;
    overflow: hidden;
}


.weatherWidget .header {
    height: 35%;
    background-color: #FF4ADE;
}

.weatherWidget h1 {
    margin: 0px;
}

.weatherWidget .footer {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

.right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 10% 4% 2.5%;
}

.newsWidget {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}


.newsWidget .header {
    position: relative;
    width: 100%;
    border: none;
}

.headerText {

    margin: 0px;
    padding: 0px 10px;
    width: 100%;
    position: absolute;
    bottom: 4px;
    color: white;
    background-color: rgba(6, 0, 0, 0.5);
}

.newsWidget img {
    /* border-radius: 30px 30px 0px 0px; */
    width: inherit;
    max-height: 50%;
}

.newsWidget .footer {
    padding: 20px 25px;
}