* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.page {
  display: flex;
  height: 100vh;
  padding: 3rem;
  background-color: black;
}
.left {
  display: flex;
  flex-direction: column;
  color: white;
}
.userWidget {
  display: flex;
  gap: 4rem;
  background-color: rgba(87, 70, 234, 1);
  height: 62%;
  border-radius: 20px;
}
.infoFlex {
  display: flex;
  flex-direction: column;
}
.userInfo {
  margin-bottom: 3rem;
}
.userWidget img {
  width: 20%;
  height: 100%;
  margin-left: 100px;
}
.genreGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.pill {
  padding: 1rem 5rem;
  background-color: rgba(159, 148, 255, 1);
  border-radius: 25px;
}
.nameEmail {
  font-size: 3rem;
  font-weight: 400;
}
.username {
  font-size: 4rem;
  font-weight: 500;
}
/*weather*/
.weatherWidget {
  border-radius: 20px;
  margin-top: 2rem;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 74, 222, 1);
  height: 63px;
  color: white;
  width: 900px;
}
.header h3 {
  display: flex;
  gap: 19rem;
  font-size: 2rem;
}
.body {
  width: 900px;
  height: 150px;

  display: flex;
  justify-content: space-around;
  background-color: rgb(16, 23, 68, 1);
  color: white;
}
.groupWeatherFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

.groupWeatherFlex:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 40px;
  right: -70px;
  bottom: 30%;
  width: 1px;
  background-color: white;
}

.weatherIcon {
  width: 6rem;
  height: 6rem;
}
.pressure {
  width: 1.8rem;
  height: 1.8rem;
}
.pressureFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pressureSubFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temp {
  font-size: 3.5rem;
}
.wind {
  width: 2rem;
  height: 2rem;
}
.humidity {
  width: 2.2rem;
  height: 2.2rem;
}

/*news*/

.newsWidget {
  display: flex;
  flex-direction: column;
  color: black;
  margin-left: 80px;
  background-color: rgba(255, 255, 255, 1);
  height: 86.5vh;
  border-radius: 25px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.newsWidget img {
  width: 100%;
  height: 50%;
}
.titleDate {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  bottom: 19.8rem;
  color: white;
}
