.page {
  display: flex;
  background-color: black;
  height: 100vh;
  width: 100vw;
  font-family: "DM Sans", sans-serif;
}

.left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4% 2.5% 4% 10%;
  width: 65%;
  height: 100%;
}

.userWidget {

  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  margin-bottom: 1.5%;
  padding: 3%;
  height: 65%;
  color: white;
  background-color: #5746ea;
  border-radius: 30px;

    display: flex;
    box-sizing: border-box;
    margin-bottom: 1.5%;
    padding: 3%;
    height: 65%;
    color: white;
    background-color: #5746EA;
    border-radius: 30px;
}

.userWidget h3 {
  margin: 0px;
  font-size: 2rem;
  font-weight: 300;
}

.userWidget h1 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 3.5rem;
}

/* .userWidget img {
} */

.genreGrid {
  display: flex;
  flex-wrap: wrap;
}

.pill {
  width: 20%;
  flex: 0 0 calc(50% - 60px);
  border-radius: 20px;
  background-color: #9f94ff;
  padding: 10px 20px;
  margin: 10px;
}

.weatherWidget {
    box-sizing: border-box;
    margin-top: 1.5%;
    height: 100%;
    width: 100%;
    background-color: #101744;
    color: white;
    border-radius: 30px;
    overflow: hidden;
}


.weatherWidget .header {
  display: flex;
  justify-content: space-around;
  background-color: #ff4ade;
  padding: 2%;
  border-radius: 33px 33px 0 0;
}

.weatherWidget .body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weatherWidget .body h1{
  font-size: 3rem;
  font-weight: 400;
}

.weatherWidget .body > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 5px; */
}

.weatherWidget .pressure .details{
  display: flex;
  align-items: center;
}

.verticalLine{
  margin-top: auto;
  height: 70px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
}

.right {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4% 4% 4% 2.5%;
}

.newsWidget {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #000000;
  border-radius: 33px;
}

.newsWidget img {
  object-fit: cover;
  height: 42%;
}
/* ======= */
.weatherWidget h1 {
    margin: 0px;
}

.weatherWidget .footer {
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

.wind > div{
  display: inline;
  flex-direction: row;
  align-items: center;
}

.right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 10% 4% 2.5%;
}

.newsWidget {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #000000;
    border-radius: 30px;
    overflow: hidden;
}


.newsWidget .header {
    position: relative;
    width: 100%;
    height: 62%;
    border: none;
}

.newsWidget .headerText{
  width: inherit;
  margin: 0px;
  padding: 10px 10px;
  position: absolute;
  bottom: 1px;
  color: white;
  background-color: rgba(6, 0, 0, 0.5);
}
.newsWidget .header h1 {
  font-size: 22px;
  font-weight: 500;
}
.newsWidget .headerText h3{
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
}
.newsWidget img{
  border-radius: 33px 33px 0 0;
  object-fit: cover;
  width: inherit;
  height: 100%;
}

.newsWidget .footer{
  padding: 20px;
}
