.page {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
}

.left {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 2.5% 4% 10%;
    width: 65%;
    height: 100%;
}

.right {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4% 10% 4% 2.5%;
}